header
	ul.nav-bar
		li
			a(href="#") Home
		li
			a(href="#") About
		li
			a(href="#") Facebook
		li
			a(href="#") Youtube
	.toggle-menu
		.line-1
		.line-2
		.line-3		
	.container
		.title.text-center
			img.logo(src="images/logo_transparent.png")
			h3 WELCOME TO VANMINH.XYZ